﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height: 700px; width: 700px; margin: 0 auto;">
    <img src="@Url.Content("~/Content/images/logo.png")" alt="logo" width="100%" height="100%;"/>
</div>
