﻿@model AllStar.Website.Models.Hour

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Hour</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.JobId)
                @Html.HiddenFor(model => model.TaskId)
                @*@Html.HiddenFor(model => model.TaskId)*@
                @Html.ValidationMessageFor(model => model.JobId, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.TaskId, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.HourId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Date)
                @Html.DisplayFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Job", "Edit", "Jobs", new { id = Model.JobId}, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
