﻿@model AllStar.Website.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    bool isHr =
        Request.IsAuthenticated &&
        (User.IsInRole("HR") || User.IsInRole("Admin"));
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            <span>@Model.FirstName @Model.LastName</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)<br />
            @if (Model.Address2 != null)
            {
                @Html.DisplayFor(model => model.Address2)<br />
            }
            @Html.DisplayFor(model => model.City)<br />
            @Html.DisplayFor(model => model.State)<br />
            @Html.DisplayFor(model => model.Zip)
        </dd>


        <dt>
            <span>Employee Number</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

@if (isHr)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
}
