﻿@model AllStar.Website.ViewModels.EmployeeSearchResults
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Employees", FormMethod.Get,
    new { enctype = "multipart/form-data" }))
{
    var sortByArray = new SelectListItem[]
    {
new SelectListItem {Value = "first", Text = "First Name"},
new SelectListItem {Value = "last", Text = "Last Name"},
new SelectListItem {Value = "empTitle", Text = "Title"}
    };

    <div class="mb-3">
        @Html.EditorFor(m => m.Search, new { htmlAttributes = new { placeholder = "search" } })
        @Html.DropDownListFor(m => m.SortBy, sortByArray)
        <input class="btn btn-primary" type="submit" value="Apply" />
    </div>
}

<table class="table">
    <tr>
        <th>
            Full Name
        </th>
        <th>
            Title
        </th>
        <th>
            Address
        </th>
        <th>
            Employee Number
        </th>
        <th>
            Email
        </th>
        <th>
            Phone Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                <span>@item.FirstName @item.LastName</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)<br />
                @if (item.Address2 != null)
                {
                    @Html.DisplayFor(modelItem => item.Address2)<br />
                }
                @Html.DisplayFor(modelItem => item.City)<br />
                @Html.DisplayFor(modelItem => item.State)<br />
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @if (item.EmployeeNumber > 0)
                {
                    @Html.DisplayFor(modelItem => item.EmployeeNumber)
                }
                else
                {
                    <span>NOT REGISTERED</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div>
        @Html.PagedListPager(
        Model.Users,
        page => Url.Action("Index", new
        {
            search = Model.Search,
            sortBy = Model.SortBy,
            page = page,
            itemsPerPage = Model.Users.PageSize,
        }),
        new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true,
            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
            MaximumPageNumbersToDisplay = 5,
            PageCountAndCurrentLocationFormat = "Page {0} of {1}"
        })

    </div>
</div>


@section scripts
{
    <script>
        $(".pagination > li").addClass("page-item");
        $(".pagination > li > a").addClass("page-link");
    </script>
}
