﻿@model AllStar.Website.Models.Job

@{
    ViewBag.Title = "Complete";
}

<h2>Complete</h2>

<h3>Are you sure you want to complete this?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourlyWage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyWage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        @if (Model.CompletedFlag)
        {
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        }
        else
        {
            <dd>
                <span>@DateTime.Today</span>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.CompletedFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">

        @if (Model.CompletedFlag)
        {
            <input type="submit" value="Uncomplete" class="btn btn-default" />
        }
        else
        {
            <input type="submit" value="Complete" class="btn btn-default" />
        }|
        @Html.ActionLink("Back to List", "Index")
    </div>
    }
    

</div>
