﻿@model AllStar.Website.Models.Job

@{
    ViewBag.Title = "Details";

    bool isManager =
        Request.IsAuthenticated &&
        (User.IsInRole("Manager") || User.IsInRole("Admin"));
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.UserId != null)
        {
            <dt>
                Name
            </dt>

            <dd>
                <span>@ViewBag.EmpName</span>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourlyWage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyWage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        @if (Model.EndDate != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.CompletedFlag)
        </dt>

        <dd>
            @if (Model.UserId != null)
            {
                <span>IN PROGRESS</span>
            }
            else if (Model.CompletedFlag)
            {
                <span>COMPLETED</span>
            }
            else
            {
                <span>NOT STARTED</span>
            }
        </dd>

    </dl>

    <div>
        <div style="display: flex;">
            <h1>TASKS</h1>
        </div>
        <span class="fas fa-plus openTasks"> Show Tasks</span>
        <span class="fas fa-minus closeTasks"> Hide Tasks</span>
    </div>
    @if (Model.Tasks != null)
    {
        <table class="tasksAccordion">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Estimated Hours</th>
                <th>Completion</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Tasks)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.EstimatedHours.ToString()
                    </td>
                    <td>
                        @if (item.CompletedFlag)
                        {
                            <span>COMPLETED</span>
                        }
                        else
                        {
                            <span>IN PROGRESS</span>
                        }
                    </td>
                    <td>
                        <span class="fas fa-plus openpanel"> Show Hours</span>
                        <span class="fas fa-minus closepanel"> Hide Hours</span>
                    </td>
                </tr>
                <tr class="accordion">
                    @if (item.Hours != null)
                    {
                        <td colspan="7">
                            <ul>
                                @foreach (var hour in item.Hours)
                                {
                                    TimeSpan timespan = TimeSpan.FromHours((double)hour.Hours);
                                    string output = timespan.ToString("h\\:mm");

                                    <li>@output on @hour.Date.ToString("MM/dd/yyyy")</li>
                                }
                            </ul>
                        </td>
                    }
                </tr>
            }
        </table>
    }

</div>
<p>
    @if (isManager)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.JobId })
    }
    else
    {
        @Html.ActionLink("Add Tasks/Hours", "Edit", new { id = Model.JobId })
    }
    <span> | </span>
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
    $(function () {
        $(".accordion").hide();
        $(".closepanel").hide();
        $(".closeTasks").hide();
        $(".tasksAccordion").hide();
    });

    $(".openpanel").on("click", function () {
        $(this).hide();
        $(this).next().show();
        $(this).parent().parent().next().show();
    });
    $(".closepanel").on("click", function () {
        $(this).hide();
        $(this).prev().show();
        $(this).parent().parent().next().hide();
    });

    $(".openTasks").on("click", function () {
        $(this).hide();
        $(".closeTasks").show();
        $(".tasksAccordion").show();
    });
    $(".closeTasks").on("click", function () {
        $(this).hide();
        $(".openTasks").show();
        $(".tasksAccordion").hide();
    });
    </script>
    }
