﻿@model AllStar.Website.ViewModels.JobInfo

@{
    ViewBag.Title = "Edit";

    bool isManager =
        Request.IsAuthenticated &&
        (User.IsInRole("Manager") || User.IsInRole("Admin"));
}

<h2>Edit</h2>
<style>
    table tr th {
        padding-right: 20px;
    }

    table tr td {
        padding-right: 20px;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    SelectList employees = new SelectList(Model.Users, "Id", "EmployeeNumber");
<div class="form-horizontal">
    <h4>Job</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.JobId)
    @if (isManager)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HourlyWage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HourlyWage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HourlyWage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, "EmployeeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.UserId, employees, "(All)")
                @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        <dl class="dl-horizontal">
            @if (Model.UserId != null)
            {
                <dt>
                    Name
                </dt>

                <dd>
                    <span>@ViewBag.EmpName</span>
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HourlyWage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HourlyWage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            @if (Model.EndDate != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.CompletedFlag)
            </dt>

            <dd>
                @if (Model.UserId != null)
                {
                    <span>IN PROGRESS</span>
                }
                else if (Model.CompletedFlag)
                {
                    <span>COMPLETED</span>
                }
                else
                {
                    <span>NOT STARTED</span>
                }
            </dd>

        </dl>
    }

    <div>
        <div style="display: flex;">
            <h1>TASKS</h1>
            <button class="btn btn-primary">
                @Html.ActionLink("Add Task", "Create", "JobTasks", new { jobId = Model.JobId }, null)
            </button>
        </div>
        <span class="fas fa-plus openTasks"> Show Tasks</span>
        <span class="fas fa-minus closeTasks"> Hide Tasks</span>
    </div>

    @if (Model.Tasks != null)
    {
        <table class="tasksAccordion">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Estimated Hours</th>
                <th>Completion</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.Tasks)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.EstimatedHours.ToString()
                    </td>
                    <td>
                        @if (item.CompletedFlag)
                        {
                            <span>COMPLETED</span>
                        }
                        else
                        {
                            <span>IN PROGRESS</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Add Hours", "Create", "Hours", new { jobId = item.JobId, taskId = item.TaskId }, null)
                    </td>
                    <td>
                        <span class="fas fa-plus openpanel"> Show Hours</span>
                        <span class="fas fa-minus closepanel"> Hide Hours</span>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "JobTasks", new { id = item.TaskId }, null)
                        @Html.ActionLink("Delete", "Delete", "JobTasks", new { id = item.TaskId }, null)
                    </td>
                </tr>
                <tr class="accordion">
                    @if (item.Hours != null)
                    {
                        <td colspan="7">
                            <ul>
                                @foreach (var hour in item.Hours)
                                {
                                    TimeSpan timespan = TimeSpan.FromHours((double)hour.Hours);
                                    string output = timespan.ToString("h\\:mm");

                                    <li>@output on @hour.Date.ToString("MM/dd/yyyy")</li>
                                    if (isManager) {
                                    @Html.ActionLink("Edit", "Edit", "Hours", new { id = hour.HourId, jobId = Model.JobId, taskId = item.TaskId }, new { JobId = item.JobId })
                                    @Html.ActionLink("Delete", "Delete", "Hours", new { id = hour.HourId, jobId = Model.JobId, taskId = item.TaskId }, new { JobId = item.JobId })
                                    }
                                }
                            </ul>
                        </td>
                    }
                </tr>
            }
        </table>
    }


    <div class="form-group" style="padding-top: 30px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $(".accordion").hide();
            $(".closepanel").hide();
            $(".closeTasks").hide();
            $(".tasksAccordion").hide();
        });

        $(".openpanel").on("click", function () {
            $(this).hide();
            $(this).next().show();
            $(this).parent().parent().next().show();
        });
        $(".closepanel").on("click", function () {
            $(this).hide();
            $(this).prev().show();
            $(this).parent().parent().next().hide();
        });

        $(".openTasks").on("click", function () {
            $(this).hide();
            $(".closeTasks").show();
            $(".tasksAccordion").show();
        });
        $(".closeTasks").on("click", function () {
            $(this).hide();
            $(".openTasks").show();
            $(".tasksAccordion").hide();
        });
    </script>
}
