﻿@model AllStar.Website.ViewModels.JobSearchResult
@using PagedList.Mvc

@{
    ViewBag.Title = "Jobs";

    bool isManager =
        Request.IsAuthenticated &&
        (User.IsInRole("Manager") || User.IsInRole("Admin"));
}

<h2>Jobs</h2>
@if (isManager)
{
    <p>
        @Html.ActionLink("Add New Job", "Create")
    </p>
}

@using (Html.BeginForm("Index", "Jobs", FormMethod.Get,
    new { enctype = "multipart/form-data" }))
{
    var sortByArray = new SelectListItem[]
    {
new SelectListItem {Value = "progress", Text = "In Progress"},
new SelectListItem {Value = "complete", Text = "Completed"},
new SelectListItem {Value = "jobName", Text = "Job Name"},
new SelectListItem {Value = "startDate", Text = "Start Date"}
    };

    <div class="mb-3">
        @Html.EditorFor(m => m.Search, new { htmlAttributes = new { placeholder = "search" } })
        @Html.DropDownListFor(m => m.SortBy, sortByArray)
        <input class="btn btn-primary" type="submit" value="Apply" />
    </div>
}

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Employee
        </th>
        <th>
            Job Name
        </th>
        <th>
            Description
        </th>
        <th>
            Hourly Wage
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Completed
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Jobs)
    {
        bool isComplete = false;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyWage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedFlag)
            </td>
            <td>
                @if (isManager)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.JobId })
                }
                else
                {
                    @Html.ActionLink("Add Tasks/Hours", "Edit", new { id = item.JobId })
                }
                <span> |</span>
                @Html.ActionLink("Details", "Details", new { id = item.JobId }) 
                @if (isManager)
                {
                    <span> | </span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.JobId })
                }


                @{
                    if (item.Tasks.Count() > 0)
                    {
                        if (item.Tasks.Where(m => m.CompletedFlag == false).Count() > 0)
                        {
                            isComplete = false;
                        }
                        else
                        {
                            isComplete = true;
                        }
                    }
                }

                @if (isComplete)
                {
                    <span>|</span>
                    if (item.CompletedFlag)
                    {
                        @Html.ActionLink("Uncomplete", "Complete", new { id = item.JobId })
                    }
                    else
                    {
                        @Html.ActionLink("Complete", "Complete", new { id = item.JobId })
                    }
                }
            </td>
        </tr>
    }

</table>

<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div>
        @Html.PagedListPager(
        Model.Jobs,
        page => Url.Action("Index", new
        {
            ID = Model.ID,
            search = Model.Search,
            sortBy = Model.SortBy,
            page = page,
            itemsPerPage = Model.Jobs.PageSize,
        }),
        new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true,
            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
            MaximumPageNumbersToDisplay = 5,
            PageCountAndCurrentLocationFormat = "Page {0} of {1}"
        })

    </div>
</div>


@section scripts
{
    <script>
        $(".pagination > li").addClass("page-item");
        $(".pagination > li > a").addClass("page-link");
    </script>
}
