﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-fixed-top fixed-top navbar-expand-md navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
               
                @Html.ActionLink("All-Star Consulting", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggle navbar-toggler" data-toggle="collapse" data-target="#navbarColor01"
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbarColor01">
                <ul class="nav navbar-nav">

                    @if (this.User.IsInRole("HR") || this.User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Employees", "Index", "Employees", null,
                        new { @class = "nav-link" })
                        </li>
                    }

                    @if (this.User.IsInRole("Contractor") || this.User.IsInRole("Manager") || this.User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Jobs", "GetUserJob", "Employees", null,
                        new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Info", "GetUserDetails", "Employees", null,
                         new { @class = "nav-link" })
                        </li>
                    }
                </ul>
            @using (Html.BeginForm("Index", "Job", FormMethod.Get,
              new { @class = "form-inline navbar-form navbar-left" }))
            {
                <div class="form-group">
                    @Html.TextBox("Search", null,
                   new {@class = "from-control", @placeholder = "Search"})
                </div>
                <button type="submit" class="btn btn-outline-secondary">Search</button>
            }
            @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - All Star Consulting</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
